<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Sprint_1_API_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ccc5">  <td>23/12/22 12:19:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestCase.Delete_Executor()[pri:0, instance:Test_All_API_Executor.Delete_TestCase@3081f72c]">Delete_Executor</td> 
  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>23/12/22 12:20:37</td>   <td>67173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.Patch_Executor()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@8e50104]">Patch_Executor</td> 
  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/22 12:22:57</td>   <td>207900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.Put_Executor()[pri:0, instance:Test_All_API_Executor.Put_TestCase@37e4d7bb]">Put_Executor</td> 
  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/22 12:25:08</td>   <td>338536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.Get_Executor()[pri:0, instance:Test_All_API_Executor.Get_TestCase@6f7923a5]">Get_Executor</td> 
  <td>main@147022238</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/22 12:27:17</td>   <td>467895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.Post_Executor()[pri:0, instance:Test_All_API_Executor.Post_TestCase@74a6f9c1]">Post_Executor</td> 
  <td>main@147022238</td>   <td></td> </tr>
</table>
