<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint_1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9793c7">  <td>24/01/05 20:16:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.Post_Executor()[pri:0, instance:Test_All_API_Executor.Post_TestCase@5ef5c734]">Post_Executor</td> 
  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="95e367">  <td>24/01/05 20:16:43</td>   <td>-3563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.Put_Executor()[pri:0, instance:Test_All_API_Executor.Put_TestCase@5a3bc7ed]">Put_Executor</td> 
  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="9793c7">  <td>24/01/05 20:16:49</td>   <td>1759</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Post_TestCase@5ef5c734]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="95e367">  <td>24/01/05 20:16:49</td>   <td>1761</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Put_TestCase@5a3bc7ed]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="9793c7">  <td>24/01/05 20:16:43</td>   <td>-4223</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Post_TestCase@5ef5c734]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="95e367">  <td>24/01/05 20:16:43</td>   <td>-3629</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Put_TestCase@5a3bc7ed]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
</table>
