<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_Assured_API_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87a1cb">  <td>23/12/22 20:21:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestCase.Delete_Executor()[pri:0, instance:Test_All_API_Executor.Delete_TestCase@301eda63]">Delete_Executor</td> 
  <td>main@351656492</td>   <td></td> </tr>
<tr bgcolor="9fd068">  <td>23/12/22 20:28:38</td>   <td>451331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.Post_Executor()[pri:0, instance:Test_All_API_Executor.Post_TestCase@be68757]">Post_Executor</td> 
  <td>main@351656492</td>   <td></td> </tr>
<tr bgcolor="9fd068">  <td>23/12/22 20:30:46</td>   <td>579285</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Post_TestCase@be68757]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@351656492</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/22 20:26:30</td>   <td>323069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.Get_Executor()[pri:0, instance:Test_All_API_Executor.Get_TestCase@51133c06]">Get_Executor</td> 
  <td>main@351656492</td>   <td></td> </tr>
<tr bgcolor="9fd068">  <td>23/12/22 20:21:06</td>   <td>-624</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Post_TestCase@be68757]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@351656492</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/22 20:22:13</td>   <td>65930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.Patch_Executor()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@7d9e8ef7]">Patch_Executor</td> 
  <td>main@351656492</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/22 20:24:22</td>   <td>194925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.Put_Executor()[pri:0, instance:Test_All_API_Executor.Put_TestCase@f107c50]">Put_Executor</td> 
  <td>main@351656492</td>   <td></td> </tr>
</table>
