<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint_2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c73b5">  <td>24/01/05 20:16:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.Get_Executor()[pri:0, instance:Test_All_API_Executor.Get_TestCase@1fc32e4f]">Get_Executor</td> 
  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="9c73b5">  <td>24/01/05 20:16:49</td>   <td>-2541</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Get_TestCase@1fc32e4f]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="b5af6b">  <td>24/01/05 20:16:49</td>   <td>-2536</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@4716be8b]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="9c73b5">  <td>24/01/05 20:16:52</td>   <td>611</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Get_TestCase@1fc32e4f]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="b5af6b">  <td>24/01/05 20:16:50</td>   <td>-1372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.Patch_Executor()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@4716be8b]">Patch_Executor</td> 
  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="b5af6b">  <td>24/01/05 20:16:52</td>   <td>612</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@4716be8b]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@515273883</td>   <td></td> </tr>
<tr bgcolor="d6698f">  <td>24/01/05 20:16:49</td>   <td>-2381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestCase.Delete_Executor()[pri:0, instance:Test_All_API_Executor.Delete_TestCase@146dfe6]">Delete_Executor</td> 
  <td>main@515273883</td>   <td></td> </tr>
</table>
