<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bcf767">  <td>23/12/29 12:24:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TestCase.Put_Executor()[pri:0, instance:Test_All_API_Executor.Put_TestCase@5ef5c734]">Put_Executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-1@1263841860</td>   <td></td> </tr>
<tr bgcolor="77d0f9">  <td>23/12/29 12:24:15</td>   <td>1851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_TestCase.Delete_Executor()[pri:0, instance:Test_All_API_Executor.Delete_TestCase@1efe439d]">Delete_Executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-2@187997952</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>23/12/29 12:24:08</td>   <td>-4901</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@16eccb2e]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>23/12/29 12:24:09</td>   <td>-4165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TestCase.Post_Executor()[pri:0, instance:Test_All_API_Executor.Post_TestCase@42530531]">Post_Executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-1@1263841860</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/29 12:24:16</td>   <td>3074</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Put_TestCase@5ef5c734]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>23/12/29 12:24:16</td>   <td>3074</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Post_TestCase@42530531]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>23/12/29 12:24:16</td>   <td>3073</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@16eccb2e]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="a4f2a5">  <td>23/12/29 12:24:09</td>   <td>-4165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TestCase.Patch_Executor()[pri:0, instance:Test_All_API_Executor.Patch_TestCase@16eccb2e]">Patch_Executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-2@187997952</td>   <td></td> </tr>
<tr bgcolor="bcf767">  <td>23/12/29 12:24:09</td>   <td>-4228</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Put_TestCase@5ef5c734]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/29 12:24:16</td>   <td>3071</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestCase.TearDown()[pri:0, instance:Test_All_API_Executor.Get_TestCase@d771cc9]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>23/12/29 12:24:09</td>   <td>-4284</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Post_TestCase@42530531]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/29 12:24:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TestCase.Get_Executor()[pri:0, instance:Test_All_API_Executor.Get_TestCase@d771cc9]">Get_Executor</td> 
  <td>TestNG-test=Parallel_Test_Execution-2@187997952</td>   <td></td> </tr>
<tr bgcolor="90b26d">  <td>23/12/29 12:24:08</td>   <td>-4912</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestCase.Test_Setup()[pri:0, instance:Test_All_API_Executor.Get_TestCase@d771cc9]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1415289182</td>   <td></td> </tr>
</table>
