<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92ccc5">  <td>23/12/28 15:03:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TestNG_Data_Provider.Test_Setup()[pri:0, instance:TestNG_Data_Driven.Get_TestNG_Data_Provider@36060e]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@586358252</td>   <td></td> </tr>
<tr bgcolor="92ccc5">  <td>23/12/28 15:03:13</td>   <td>142</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TestNG_Data_Provider.TearDown()[pri:0, instance:TestNG_Data_Driven.Get_TestNG_Data_Provider@36060e]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@586358252</td>   <td></td> </tr>
</table>
